const path = require('path')

module.exports = {
  entry: './src/index.js', // input
  output: {
    path: path.join(__dirname, 'dist'),
    filename: 'bundle.js',
  },
  // all the processing machinery in between
  module: {
    rules: [
      {
        test: /\.js$/,
        loader: 'babel-loader',
      },
    ],
  },
}