const Wrapper = glamorous.div({
  width: '80%',
  marginLeft: 'auto',
  marginRight: 'auto',
  height: '100%',
  '@media(min-width: 40em)': {
    width: '40%'
  }
})

class App extends Component {
  render() {
    return (
      <Wrapper>
        <Paper>
          <Header />
          ...
        </Paper>
      </Wrapper>
    )
  }
}