class App {
  // ...
  state = {
    balance: App.DEFAULT_BALANCE_AMOUNT
  }

  addDeposit = () => {
    // this is an overload
    this.setState({ 
      balance: {
        ...this.state.balance,
        this.state.balance + App.DEFAULT_DEPOSIT_AMOUNT 
      }
    }, () => { console.log('state updated') })
  }

  // ..

}
